<div class="container">  
    <div class="row">
        <h2>Dashboard</h2>
        <div class="col-md-2"></div>
        <div class="col-md-8"></div>

    </div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Number of Titles</th>
      <th scope="col">Number of Employees</th>
      <th scope="col">Total Amount of Salaries</th>
      <th scope="col">Number of Departments</th>
      <th scope="col">Number of Employees Hired on 2014</th>
      <th scope="col">Number of Employees Hired on 2015</th>
      <th scope="col">Number of Employees Hired on 2016</th>
      <th scope="col">Number of Employees Hired on 2017</th>
      <th scope="col">Number of Employees Hired on 2018</th>
      <th scope="col">Forgot what data this query is for</th>
    </tr>
  </thead>
  <tbody>
      {{dashboard}}
    <tr>
      <th scope="row">{{this.rows}}</th>
      <td>{{this.rows2}}</td>
      <td>{{this.rows3}}</td>
      <td>{{this.rows4}}</td>
      <td>{{this.rows5}}</td>
      <td>{{this.rows6}}</td>
      <td>{{this.rows7}}</td>
      <td>{{this.rows8}}</td>
      <td>{{this.rows9}}</td>
    </tr>
  </tbody>
</table>
    </div>
</div>
