<div class="container">  
    <div class="row">
        <h2>Dashboard</h2>
        <div class="col-md-2"></div>
        <div class="col-md-8"></div>

    </div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table table-hover">
  <thead>
    <tr>
      <th scope="row">Number of Titles</th>
      <th scope="row">Number of Employees</th>
      <th scope="row">Total Amount of Salaries</th>
      <th scope="row">Number of Departments</th>
      <th scope="row">Number of Employees from 2014 to 2018</th>
      <th scope="row">Something something</th>
    </tr>
  </thead>
  <tbody>
      {{dashboard}}
    <tr>
      <th scope="row">{{this.rows}}</th>
      <td>{{this.rows2}}</td>
      <td>{{this.rows3}}</td>
      <td>{{this.rows4}}</td>
      <td>{{this.rows5}}</td>
      <td>{{this.rows6}}</td>
    </tr>
  </tbody>
</table>
    </div>
</div>
