<div class="container">  
    <div class="row">
        <h2>Dashboard</h2>
        <div class="col-md-2"></div>
        <div class="col-md-8"></div>

    </div>
</div>

{{!-- <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Number of Job Titles</th>
      <th scope="col">Number of Employees</th>
      <th scope="col">Total Amount of Salaries</th>
      <th scope="col">Number of Departments</th>
      <th scope="col">Number of Employees Hired on 2014</th>
      <th scope="col">Number of Employees Hired on 2015</th>
      <th scope="col">Number of Employees Hired on 2016</th>
      <th scope="col">Number of Employees Hired on 2017</th>
      <th scope="col">Number of Employees Hired on 2018</th>
      <th scope="col">Forgot what data this query is for</th>
    </tr>
  </thead>
  <tbody>
      {{dashboard}}
    <tr>
      <th scope="row">{{this.rows}}</th>
      <td>{{this.rows2}}</td>
      <td>{{this.rows3}}</td>
      <td>{{this.rows4}}</td>
      <td>{{this.rows5}}</td>
      <td>{{this.rows6}}</td>
      <td>{{this.rows7}}</td>
      <td>{{this.rows8}}</td>
      <td>{{this.rows9}}</td>
    </tr>
  </tbody>
</table>
    </div>
</div> --}}

   <center><h2>Information</h2></center> 
        
        <table>
          <tr>
            <th>Description</th>
            <th>Measurements</th>
          </tr>

          <tr>
            <td>Number of Job Titles</td>
            <td>{{this.rows}}</td>
          </tr>

          <tr>
            <td>Number of employees</td>
            <td>{{this.rows2}}</td>
          </tr>

          <tr>
            <td>Total amount of salary</td>
            <td>{{this.rows3}}</td>
          </tr>

          <tr>
            <td>Number of Departments in the company</td>
            <td>{{this.rows4}}</td>
          </tr>
</table>

        <table>
                <center><h2>Employees Hired Throughout The Years</h2></center> 

                <tr>
                  <th>Year</th>
                  <th>Employees</th>
                </tr>
                
                <tr>
                  <td>1985</td>
                  <td>{{this.rows5}}</td>
                </tr>

                <tr>
                  <td>1986</td>
                  <td>{{this.rows6}}</td>
                </tr>
      
                <tr>
                  <td>1987</td>
                  <td>{{this.rows7}}</td>
               </tr>

               <tr>
                  <td>1988</td>
                  <td>{{this.rows8}}</td>
               </tr>
               
               <tr>
                  <td>1989</td>
                  <td>{{this.rows9}}</td>
               </tr>
               
               <tr>
                  <td>1990</td>
                  <td>{{this.rows10}}</td>
                </tr>
                
               <tr>
                  <td>1991</td>
                  <td>{{this.rows11}}</td>
                </tr>
      
               <tr>
                  <td>1992</td>
                  <td>{{this.rows12}}</td>
               </tr>
               
               <tr>
                  <td>1993</td>
                  <td>{{this.rows13}}</td>
               </tr>
               
               <tr>
                  <td>1994</td>
                  <td>{{this.rows14}}</td>
               </tr>
               
               <tr>
                  <td>1995</td>
                  <td>{{this.rows15}}</td>
                </tr>
               
                <tr>
                  <td>1996</td>
                  <td>{{this.rows16}}</td>
                </tr>
      
                <tr>
                  <td>1997</td>
                  <td>{{this.rows17}}</td>
               </tr>

               <tr>
                  <td>1998</td>
                  <td>{{this.rows18}}</td>
               </tr>
               
               <tr>
                  <td>1999</td>
                  <td>{{this.rows19}}</td>
               </tr>

               <tr>
                  <td>2000</td>
                  <td>{{this.rows20}}</td>
                </tr>

                <tr>
                  <td>2001</td>
                  <td>{{this.rows21}}</td>
                </tr>
      
                <tr>
                  <td>2002</td>
                  <td>{{this.rows22}}</td>
               </tr>

               <tr>
                  <td>2003</td>
                  <td>{{this.rows23}}</td>
               </tr>
               
               <tr>
                  <td>2004</td>
                  <td>{{this.rows24}}</td>
               </tr>
               
               <tr>
                  <td>2005</td>
                  <td>{{this.rows25}}</td>
                </tr>
                
               <tr>
                  <td>2006</td>
                  <td>{{this.rows26}}</td>
                </tr>
      
               <tr>
                  <td>2007</td>
                  <td>{{this.rows27}}</td>
               </tr>
               
               <tr>
                  <td>2008</td>
                  <td>{{this.rows28}}</td>
               </tr>
               
               <tr>
                  <td>2009</td>
                  <td>{{this.rows29}}</td>
               </tr>
               
               <tr>
                  <td>2010</td>
                  <td>{{this.rows30}}</td>
                </tr>
               
                <tr>
                  <td>2011</td>
                  <td>{{this.rows31}}</td>
                </tr>
      
                <tr>
                  <td>2012</td>
                  <td>{{this.rows32}}</td>
               </tr>

               <tr>
                  <td>2013</td>
                  <td>{{this.rows33}}</td>
               </tr>
               
               <tr>
                  <td>2014</td>
                  <td>{{this.rows34}}</td>
               </tr>

               <tr>
                  <td>2015</td>
                  <td>{{this.rows35}}</td>
                </tr>
      
                <tr>
                  <td>2016</td>
                  <td>{{this.rows36}}</td>
               </tr>

               <tr>
                  <td>2017</td>
                  <td>{{this.rows37}}</td>
               </tr>
               
               <tr>
                  <td>2018</td>
                  <td>{{this.rows38}}</td>
               </tr>

{{!--               <tr>
                  <td>After 2000</td>
                  <td>{{this.rows20}}</td>
               </tr>
--}}              
              </table>
        
</body>
