<style>
h2
{
    font-size:36px;
    font-weight:bold;
}

input[type=text] 
{
    font-size:20px;
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #c63535;
    font-size:20px;
    width: 60%;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    transition: 0.3s
}

input[type=submit]:hover 
{
    background-color: #912525;
}

</style>

<div class="container">
    <div class="row">
        <h2>Add an Employee</h2>
        <form action="/employee" method="post">
            <div style="text-align:center;" class="form-group">
                <input placeholder="First Name" type="text" name="s_firstname" value="{{s_firstname}}"><br>
                <input placeholder="Last Name" type="text" name="s_lastname" value="{{s_lastname}}"><br>
                <input placeholder="Gender (M/F)" type="text" name="gender" value="{{gender}}"><br>
                <input placeholder="Birthday (YYYY-MM-DD)" type="text" name="birthday" value="{{birthday}}"><br>
                <input placeholder="Employee number" type="text" name="e_id" value="{{e_id}}"><br>
                <input placeholder="Title" type="text" name="title" value="{{title}}"><br>
                <input placeholder="Department number (d001)" type="text" name="dept_no" value="{{dept_no}}"><br>
                <input placeholder="Hire Date (YYYY-MM-DD)" type="text" name="hire_date" value="{{hire_date}}"><br>
                <input placeholder="End Date (YYYY-MM-DD)" type="text" name="end_date" value="{{end_date}}"><br>
                <input placeholder="Salary" type="text" name="salary" value="{{salary}}"><br>
                <input type="submit" value="Save">
            </div>
        </form>

    </div>
</div>