<style>
    input:focus 
{
    outline:none;
}

input[type="text"]
{
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    background-color: #f7f7f7;
    padding: 8px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

button{
    background-color: #c63535;
    padding: 10px;
    font-size: 20px;
    color: white;
    transition: 0.3s
}


button:hover 
{
    background-color: #912525;
}
</style>

<div class="container">
    <div class="row">
        <h2>Empolyees</h2>
        <form action="/employees" method="post">
            {{!-- <div class="form-group">
                First Name: <input type="text" name="s_firstname" value="{{s_firstname}}"><br>
                Last Name: <input type="text" name="s_lastname" value="{{s_lastname}}"><br>
                <input type="submit" value="search">
            </div> --}}
            <div style="display: flex;">
                <input style="" type="text" name="s_searchName" placeholder="Search by Name..." value="{{s_searchName}}" /><br />
                <button class="search" type="submit">
                    <i class="fa fa-search"></i></button>
            </div>
            {{!-- <div style="display: flex;">
                <input type="text" name="s_lastname" placeholder="Search by Last Name..." value="{{s_lastname}}" /><br />
                <button class="search" type="submit">
                    <i class="fa fa-search"></i></button>
            </div> --}}
        </form>
        (For instance: Georgi Facello)
    </div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Employee number</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Title</th>
                    <th scope="col">Birthday</th>
                    <th scope="col">Hire Date</th>
                    {{!--
                    emp_no INT NOT NULL,
                    birth_date DATE NOT NULL,
                    first_name VARCHAR(14) NOT NULL,
                    last_name VARCHAR(16) NOT NULL,
                    gender ENUM ('M','F') NOT NULL,
                    hire_date DATE NOT NULL, --}}
                </tr>
            </thead>
            <tbody>
                {{#each employees}}
                <tr>
                    <th scope="row">{{this.emp_no}}</th>
                    <td>{{this.first_name}}</td>
                    <td>{{this.last_name}}</td>
                    <td>{{this.title}}</td>
                    <td>{{this.birthday}}</td>
                    <td>{{this.hiredate}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>