<div class="container">  
    <div class="row">
        <h2>Empolyee information</h2>
        <form action="/employees" method="post">
            <div class="form-group">
                First Name: <input type="text" name="s_firstname" value="{{s_firstname}}"><br>
                Last Name: <input type="text" name="s_lastname" value="{{s_lastname}}"><br>
                Birthday: <input type="text" name="birthday" value="{{birthday}}"><br>
                Employee number: <input type="text" name="e_id" value="{{e_id}}"><br>
                Title: <input type="text" name="title" value="{{title}}"><br>
                Hire Date: <input type="text" name="hire_date" value="{{hire_date}}"><br>
                <input type="submit" value="Save">
            </div>
        </form>
        
    </div>
</div>
