<style>
    p
    {
        font-size: 18px;
    }
</style>

{{!-- <a href="/users">Users</a> | <a href="/logout">Logout</a> --}}
<h2>{{title}}</h2>
<p><b>User Id:</b> {{loginUser.sub}}</p>
<p><b>Name:</b> {{loginUser.name}}</p>
<p><b>Username:</b> {{loginUser.preferred_username}}</p>
<p><b>Email:</b> {{loginUser.email}}</p>