<a href="/users">Users</a> | <a href="/logout">Logout</a>
<h1>{{title}}</h1>
<p><b>User Id:</b> {{loginUser.sub}}</p>
<p><b>Name:</b> {{loginUser.name}}</p>
<p><b>First Name:</b> {{loginUser.given_name}}</p>
<p><b>Last Name:</b> {{loginUser.family_name}}</p>
<p><b>Email:</b> {{loginUser.email}}</p>
<p><b>Username:</b> {{loginUser.preferred_username}}</p>